<h1>Listing case_studies</h1>

<table>
  <tr>
    <th>Ticker</th>
    <th>Studied at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @case_studies.each do |case_study| %>
  <tr>
    <td><%= case_study.ticker %></td>
    <td><%= case_study.studied_at %></td>
    <td><%= link_to 'Show', case_study %></td>
    <td><%= link_to 'Edit', edit_case_study_path(case_study) %></td>
    <td><%= link_to 'Destroy', case_study, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case study', new_case_study_path %>
