%p#notice= notice

%h1 #{@case_study.period.titleize} Case Study for #{@case_study.ticker}

%p
  Comment
  %span#case_study_comment= @case_study.comment

= link_to 'Edit', edit_case_study_path(@case_study)
\|
= link_to 'Back', ticker_case_studies_path(@ticker)
